#background {
    -fx-background-color: rgb(255, 234, 245);
}


.button {
    -fx-background-color: none;
}

.button:selected {
    -fx-background-color: none;
}

.button:focused {
    -fx-background-color: none;
}


#homeButton {
    -fx-border: none;
    -fx-background-image: url('icons/home.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 60px;
}


#recipesButton {
    -fx-border: none;
    -fx-background-image: url('icons/recipe.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 60px;
}

#familyButton {
    -fx-border: none;
    -fx-background-image: url('icons/family.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 60px;
}