#background {
    -fx-background-color: rgb(255, 234, 245);
}


.button {
    -fx-background-color: none;
}

.button:selected {
    -fx-background-color: none;
}

.button:focused {
    -fx-background-color: none;
}

.table-view {
    -fx-text-fill: black;
    -fx-background-color: none;
}

.table-view:top {
    -fx-background-color: none;
}

.table-view:focused {
    -fx-background-color: none;
    -fx-highlight-fill: none;
}

.table-view:selected {
    -fx-highlight-fill: none;
    -fx-background-color: none;
}

.table-view .column-header-background{
    -fx-background-color: rgb(189, 255, 159);
}

.table-view .column-header-background .label{
    -fx-background-color: rgb(189, 255, 159);
    -fx-text-fill: black;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-text-fill: black;
    -fx-border-color: none;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #FFEAF5;
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #F3FFDF;
}

.table-row-cell:selected {
    -fx-background-color: none;
}

.table-view .filler {
    -fx-background-color: none;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color : #FFEAF5;
    -fx-border-color : #FFEAF5;
    -fx-background-radius : 0.0em;
    -fx-border-radius :0.0em;
}


.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 0.0 10.0 0.0;

}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 10.0 0.0 0.0;

}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.15em 0.0;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.0 0.15em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color : black;
    -fx-background-insets : 1.0, 0.0, 0.0;
    -fx-background-radius : 0em;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color : black;
    -fx-background-insets : 1.0, 0.0, 0.0;
    -fx-background-radius : 0em;
}

#homeButton {
    -fx-border: none;
    -fx-background-image: url('icons/home.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 60px;
}


#recipesButton {
    -fx-border: none;
    -fx-background-image: url('icons/recipe.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 60px;
}

#familyButton {
    -fx-border: none;
    -fx-background-image: url('icons/family.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 60px;
}